# Node
node_modules/
dist/
dist-ssr/
*.local

# C# / .NET
[Oo]bj/
[Bb]in/
.vs/
*.user
*.suo
appsettings.json
appsettings.Development.json
.env

# Editor / OS
.vscode/
.DS_Store
Thumbs.db

# Databases
API/pesa.db
API/pesa.db-shm
API/pesa.db-wal
*.db
*.db-*
